{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>JobsearchKe - Build Custom Resumes</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Build professional CV, Cover letters and LinkedIn Profiles">
	<meta name="author" content="JobsearchKe.com">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Roboto:300,400,700&display=swap"
		rel="stylesheet">

	<!-- FontAwesome JS-->
	<script defer src="{% static 'resume/assets/fontawesome/js/all.min.js' %}"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="{% static 'resume/assets/plugins/owlcarousel/dist/assets/owl.carousel.min.cs' %}s">
	<link rel="stylesheet"
		href="{% static 'resume/assets/plugins/owlcarousel/dist/assets/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'resume/assets/plugins/aos/aos.css' %}">

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="{% static 'resume/assets/css/theme.css' %}">

</head>

<body>
	<header id="header" class="header fixed-top">
		<div class="branding">
			<div class="container-fluid">
				<div class="navbar">
					<div class="site-logo"><a href="{% url 'jobs:home' %}"><img class="logo-icon"
								src="{% static 'jobs/img/lala.png' %}" alt="logo"></a></div>
				</div>
			</div>
			<!--//container-->
		</div>
		<!--//branding-->
	</header>
	<!--//header-->

	<section class="features-section section">
		<div class="container">
			<h2 class="section-title text-center">Best Programming Tees For Developers</h2>
			<div class="section-intro mb-5 text-center">The proof is in the wearing. Let's code in style.</div>

			<div class="features-wrapper position-relative mb-5">

				<div id="features-carousel-1" class="features-carousel carousel slide carousel-fade shadow-lg mb-5"
					data-ride="carousel" data-interval="6000" data-aos="fade-right" data-aos-once="true">
					<ol class="carousel-indicators">
						<li data-target="#features-carousel-1" data-slide-to="0" class="active"></li>
						<li data-target="#features-carousel-1" data-slide-to="1"></li>

					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<a href="https://made4dev.com/collections/tees/products/fullstack-developer-t-shirt-for-developers"
								target="_blank"><img class="d-block img-fluid"
									src="{% static 'resume/assets/images/products/cv_1.png' %}" alt=""></a>
						</div>
					</div>
					<!--//carousel-inner-->
				</div>
				<!--//features-carousel-->

				<div class="features-content-box">
					<h3 class="heading mb-4">What Makes Us Different</h3>
					<div class="item mb-4">
						<h4 class="subheading"><span class="icon-holder mr-2"><i class="fas fa-heart"></i></span>Premium
							Quality</h4>
						<div class="desc">Describe your product's feature/benefit here. You can change the icon to any
							of the 1500+ free <a class="theme-link" href="https://fontawesome.com/"
								target="_blank">FontAwesome</a> icons available. </div>
					</div>
					<!--//item-->
					<div class="item mb-4">
						<h4 class="subheading"><span class="icon-holder mr-2"><i
									class="fas fa-pencil-ruler"></i></span>Original Designs</h4>
						<div class="desc">Describe your product's feature/benefit here. You can change the icon to any
							of the 1500+ free <a class="theme-link" href="https://fontawesome.com/"
								target="_blank">FontAwesome</a> icons available. </div>
					</div>
					<!--//item-->
					<div class="item mb-4">
						<h4 class="subheading"><span class="icon-holder mr-2"><i
									class="fas fa-tshirt"></i></span>Classic Unisex Fit</h4>
						<div class="desc">Describe your product's feature/benefit here. You can change the icon to any
							of the 1500+ free <a class="theme-link" href="https://fontawesome.com/"
								target="_blank">FontAwesome</a> icons available. </div>
					</div>
					<!--//item-->

					<a class="btn btn-secondary mt-3" href="https://made4dev.com">Find out more</a>
				</div>
				<!--//features-content-box-->
			</div>
			<!--//feature-wrapper-->

			<div class="features-wrapper features-wrapper-reverse position-relative mb-5">
				<div id="features-carousel-2" class="features-carousel carousel slide carousel-fade shadow-lg mb-5"
					data-ride="carousel" data-interval="6000" data-aos="fade-left" data-aos-once="true">
					<ol class="carousel-indicators">
						<li data-target="#features-carousel-2" data-slide-to="0" class="active"></li>
						<li data-target="#features-carousel-2" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<a href="https://made4dev.com/collections/tees/products/worlds-okayest-developer-t-shirt-for-developers"
								target="_blank"><img class="d-block img-fluid"
									src="{% static 'resume/assets/images/products/cv_1.png' %}" alt=""></a>
						</div>
					</div>
					<!--//carousel-inner-->
				</div>
				<!--//features-carousel-->

				<div class="features-content-box">
					<h3 class="heading mb-4">Right Carousel Example</h3>
					<div class="item mb-4">
						<h4 class="subheading"><span class="icon-holder mr-2"><i class="fas fa-code"></i></span>Feature
							Heading</h4>
						<div class="desc">Describe your product's feature/benefit here. You can change the icon to any
							of the 1500+ free <a class="theme-link" href="https://fontawesome.com/"
								target="_blank">FontAwesome</a> icons available. </div>
					</div>
					<!--//item-->
					<div class="item mb-4">
						<h4 class="subheading"><span class="icon-holder mr-2"><i
									class="fas fa-rocket"></i></span>Feature Heading</h4>
						<div class="desc">Describe your product's feature/benefit here. You can change the icon to any
							of the 1500+ free <a class="theme-link" href="https://fontawesome.com/"
								target="_blank">FontAwesome</a> icons available. </div>
					</div>
					<!--//item-->
					<div class="item mb-4">
						<h4 class="subheading"><span class="icon-holder mr-2"><i
									class="fas fa-code-branch"></i></span>Feature Heading</h4>
						<div class="desc">Describe your product's feature/benefit here. You can change the icon to any
							of the 1500+ free <a class="theme-link" href="https://fontawesome.com/"
								target="_blank">FontAwesome</a> icons available. </div>
					</div>
					<!--//item-->
				</div>
				<!--//features-content-box-->
			</div>
			<!--//feature-wrapper-->

			<div class="features-wrapper position-relative mb-5">

				<div class="features-figure shadow-lg mb-5" data-aos="fade-right" data-aos-once="true">
					<a href="https://made4dev.com/products/you-are-offline-t-shirt-for-developers" target="_blank"><img
							class="img-fluid" src="{% static 'resume/assets/images/products/cv_1.png' %}" alt=""></a>
				</div>
				<!--//feature-figure-->

				<div class="features-content-box">
					<h3 class="heading mb-4">Single Image Example</h3>
					<div class="item mb-4">
						<h4 class="subheading"><span class="icon-holder mr-2"><i class="fas fa-check"></i></span>Feature
							Heading</h4>
						<div class="desc">Describe your product's feature/benefit here. You can change the icon to any
							of the 1500+ free <a class="theme-link" href="https://fontawesome.com/"
								target="_blank">FontAwesome</a> icons available. </div>
					</div>
					<!--//item-->
					<div class="item mb-4">
						<h4 class="subheading"><span class="icon-holder mr-2"><i
									class="fas fa-history"></i></span>Feature Heading</h4>
						<div class="desc">Describe your product's feature/benefit here. You can change the icon to any
							of the 1500+ free <a class="theme-link" href="https://fontawesome.com/"
								target="_blank">FontAwesome</a> icons available. </div>
					</div>
					<!--//item-->
					<div class="item mb-4">
						<h4 class="subheading"><span class="icon-holder mr-2"><i
									class="fas fa-calendar-alt"></i></span>Feature Heading</h4>
						<div class="desc">Describe your product's feature/benefit here. You can change the icon to any
							of the 1500+ free <a class="theme-link" href="https://fontawesome.com/"
								target="_blank">FontAwesome</a> icons available. </div>
					</div>
					<!--//item-->
				</div>
				<!--//features-content-box-->

			</div>
			<!--//feature-wrapper-->

		</div>
		<!--//container-->
	</section>
	<div class="points-section py-3 py-md-5 theme-bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="item">
						<div class="media flex-column flex-sm-row">
							<div class="media-icon mr-4 mb-3"><img src="assets/images/streamline-icons/like-1-white.svg"
									alt=""></div>
							<div class="media-body text-left">
								<h4 class="heading">100% Quality Guarantee</h4>
								<div class="desc">The icons used in this section are from <a class="theme-link"
										href="https://transactions.sendowl.com/stores/9358/151385"
										target="_blank">Streamline's free icon pack</a>. Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. </div>
							</div>
							<!--//media-body-->
						</div>
						<!--//media-->
					</div>
					<!--//item-->
				</div>
				<!--//col-->
				<div class="col-12 col-lg-4">
					<div class="item">
						<div class="media flex-column flex-sm-row">
							<div class="media-icon mr-4 mb-3"><img
									src="assets/images/streamline-icons/plane-trip-international-white.svg" alt="">
							</div>
							<div class="media-body text-left">
								<h4 class="heading">Worldwide Shipping</h4>
								<div class="desc">The icons used in this section are from <a class="theme-link"
										href="https://transactions.sendowl.com/stores/9358/151385"
										target="_blank">Streamline's free icon pack</a>. Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. </div>
							</div>
							<!--//media-body-->
						</div>
						<!--//media-->
					</div>
					<!--//item-->
				</div>
				<!--//col-->
				<div class="col-12 col-lg-4">
					<div class="item">
						<div class="media flex-column flex-sm-row">
							<div class="media-icon mr-4 mb-3"><img
									src="assets/images/streamline-icons/design-tool-pen-station-white.svg" alt=""></div>
							<div class="media-body text-left">
								<h4 class="heading">Designed In The UK</h4>
								<div class="desc">
									<div class="desc">The icons used in this section are from <a class="theme-link"
											href="https://transactions.sendowl.com/stores/9358/151385"
											target="_blank">Streamline's free icon pack</a>. Lorem ipsum dolor sit amet,
										consectetur adipiscing elit. </div>
								</div>
							</div>
							<!--//media-body-->
						</div>
						<!--//media-->
					</div>
					<!--//item-->
				</div>
				<!--//col-->
			</div>
			<!--//row-->
		</div>
		<!--//container-->
	</div>
	<!--//product-points-->


	<!--//features-section-->

	<section class="related-section section">
		<div class="container">
			<h2 class="section-title text-center">For Every Developer</h2>
			<div class="section-intro mb-5 text-center">More cool programming tees available at <a class="theme-link"
					href="https://made4dev.com" target="_blank">made4dev.com</a></div>
			<div class="row">
				<div class="col-6 col-lg-3 mb-5">
					<div class="card text-center">
						<a href="https://made4dev.com/collections/tees/products/binary-joke-t-shirt-for-developers"
							target="_blank"><img class="img-fluid" src="assets/images/related/related-1.jpg" alt=""></a>
						<div class="card-body">
							<h5 class="card-title">Binary</h5>
							<p class="card-text">You can use this section to list related products.</p>
							<a class="btn btn-primary"
								href="https://made4dev.com/collections/tees/products/binary-joke-t-shirt-for-developers"
								target="_blank">Learn More</a>
							<p class="card-text mt-2"><small class="text-muted">made4dev.com</small></p>

						</div>
						<!--//card-body-->
					</div>
					<!--//card-->
				</div>
				<!--//col-->
				<div class="col-6 col-lg-3 mb-5">
					<div class="card text-center">
						<a href="https://made4dev.com/collections/tees/products/to-be-or-not-to-be-t-shirt-for-developers"
							target="_blank"><img class="img-fluid" src="assets/images/related/related-2.jpg" alt=""></a>
						<div class="card-body">
							<h5 class="card-title">Humorous</h5>
							<p class="card-text">You can use this section to list related products.</p>
							<a class="btn btn-primary"
								href="https://made4dev.com/collections/tees/products/to-be-or-not-to-be-t-shirt-for-developers"
								target="_blank">Learn More</a>
							<p class="card-text mt-2"><small class="text-muted">made4dev.com</small></p>

						</div>
						<!--//card-body-->
					</div>
					<!--//card-->
				</div>
				<!--//col-->
				<div class="col-6 col-lg-3 mb-5">
					<div class="card text-center">
						<a href="https://made4dev.com/collections/tees/products/404-error-t-shirt-for-developers"
							target="_blank"><img class="img-fluid" src="assets/images/related/related-3.jpg" alt=""></a>
						<div class="card-body">
							<h5 class="card-title">Star Wars</h5>
							<p class="card-text">You can use this section to list related products.</p>
							<a class="btn btn-primary"
								href="https://made4dev.com/collections/tees/products/404-error-t-shirt-for-developers"
								target="_blank">Learn More</a>
							<p class="card-text mt-2"><small class="text-muted">made4dev.com</small></p>

						</div>
						<!--//card-body-->
					</div>
					<!--//card-->
				</div>
				<!--//col-->
				<div class="col-6 col-lg-3 mb-5">
					<div class="card text-center">
						<a href="https://made4dev.com/products/may-the-force-be-with-you-t-shirt-for-developers"
							target="_blank"><img class="img-fluid" src="assets/images/related/related-4.jpg" alt=""></a>
						<div class="card-body">
							<h5 class="card-title">Git</h5>
							<p class="card-text">You can use this section to list related products.</p>
							<a class="btn btn-primary"
								href="https://made4dev.com/products/may-the-force-be-with-you-t-shirt-for-developers"
								target="_blank">Learn More</a>
							<p class="card-text mt-2"><small class="text-muted">made4dev.com</small></p>

						</div>
						<!--//card-body-->
					</div>
					<!--//card-->
				</div>
				<!--//col-->
			</div>
			<!--//row-->
		</div>
		<!--//container-->
	</section>
	<!--//related-section-->

	<section class="cta-section section py-5 theme-bg-dark text-center">
		<div class="container">
			<h2 class="section-title text-white">Want to code in style?</h2>
			<div class="content single-col-max mx-auto">
				For limited time only get 10% OFF your entire order at <a class="theme-link"
					href="https://made4dev.com/discount/SPOT10">made4dev.com</a>. <br>Use discount code
				<strong>SPOT10</strong> at the checkout.
			</div>
			<!--//content-->
			<a class="btn btn-ghost mt-3" href="https://made4dev.com/discount/SPOT10">Get The Offer</a>
		</div>
	</section>
	<!--//cta-section-->


	<footer class="footer py-5">
		<div class="container text-center">
			<ul class="payment-list list-unstyled mb-4">
				<li class="list-inline-item"><i class="fab fa-cc-paypal fa-2x"></i></li>
				<li class="list-inline-item"><i class="fab fa-cc-mastercard fa-2x"></i></li>
				<li class="list-inline-item"><i class="fab fa-cc-visa fa-2x"></i></li>
				<li class="list-inline-item"><i class="fab fa-cc-amex fa-2x"></i></li>
			</ul>
			<!--//payment-list-->
			<ul class="social-list list-unstyled mb-4">
				<li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
			</ul>
			<!--//social-list-->

			<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a
					class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for
				developers</small>

		</div>
		<!--//container-->
	</footer>

	<!-- Javascript -->
	<script src="{% static 'resume/assets/plugins/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'resume/assets/plugins/popper.min.js' %}"></script>
	<script src="{% static 'resume/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'resume/assets/plugins/back-to-top.js' %}"></script>
	<script src="{% static 'resume/assets/plugins/owlcarousel/dist/owl.carousel.min.js' %}"></script>
	<script src="{% static 'resume/assets/plugins/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'resume/assets/plugins/aos/aos.js' %}"></script>
	<script src="{% static 'resume/assets/js/main.js' %}"></script>

</body>

</html>