{% extends "jobs/base.html" %}
{% block ads %}
<script data-ad-client="ca-pub-1810260271665361" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block meta %} JobsearchKE Career Blog provides you with the latest career advice in Kenya 2022. We advice on
Interview tips, Career Development and the Work Environment {% endblock %}

{% block keyword %} jobs kenya, ngo jobs, latest jobs in kenya 2022 {% endblock %}
{% block title%} JobsearchKE | Career Blog | Best Career Advice in Kenya {% endblock %}

{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Blog</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                {% for post in posts %}
                <div class="blog-post">
                    <div class="post-thumb">
                        <a href="{{post.get_absolute_url}}"><img src="{{post.image.url}}" alt="{{post.title}}"></a>
                    </div>
                    <div class="blog-author">
                        <img src="{{post.author.profile_pic.url}}" alt="">
                    </div>
                    <div class="post-content">
                        <h3 class="post-title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                        <div class="meta">
                            <span class="meta-part"><a href="#"><i class="far fa-user"></i> By
                                    {{post.author}}</a></span>
                            <span class="meta-part"><i class="far fa-calendar-alt"></i><a href="#">
                                    {{post.publish}}</a></span>
                        </div>
                        <p>{{post.description|truncatewords:50}}</p>
                        <a href="{{post.get_absolute_url}}" class="btn btn-common">Read More</a>
                    </div>

                </div>
                {% endfor %}
                <ul class="pagination">
                    {% if posts.has_previous_page %}
                    <li class="active"><a href="?page={{posts.previous_page_number}}" class="btn btn-common">prev</a>
                    </li>
                    {% endif %}

                    {% for num in posts.paginator.page_range %}
                    {% if num == posts.number %}
                    <li><a href="#" class="active">{{num}}</a></li>

                    {% elif num > posts.number|add:'-2' and num < posts.number|add:'2' %} <li><a
                            href="?page={{num}}">{{num}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if posts.has_next_page %}
                        <li class="active"><a href="?page={{posts.next_page_number}}" class="btn btn-common">Next </a>
                        </li>
                        {% endif %}
                </ul>

            </div>
            {% include "career/aside.html" %}
        </div>
    </div>
</div>

{% endblock %}