{% extends "jobs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">My Account</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'jobs:home' %}"><i class="ti-home"></i> Home</a></li>
                        <li class="current">My Account</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
                <div class="my-account-form">
                    <div class="cd-switcher">
                        <a href="#0">LOGIN</a>
                    </div>
                    <div>
                        <div class="page-login-form">
                            <form method="POST" class="login-form">
                                {% csrf_token %}

                                <div class="form-group">
                                    {{form|crispy}}
                                </div>
                                <button type="submit" class="btn btn-common log-btn">Login</button>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <label for="rememberme" class="rememberme">
                                            <input name="rememberme" id="rememberme" value="forever" type="checkbox">
                                            Remember Me</label>
                                    </div>
                                    <p class="cd-form-bottom-message"><a href="{% url 'password_reset' %}">Lost your
                                            password?</a></p>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}