{% extends "jobs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">My Account</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'jobs:home' %}"><i class="ti-home"></i> Home</a></li>
                        <li class="current">My Account</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content" class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
                <h2>You have logged out</h2>
                <small>
                    <a href="{% url 'login' %}">Login</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}