{% extends "jobs/base.html" %}

{% block meta %} Jobs in Kenya 2021 - JobsearchKE provides the latest job vaccancies in Kenya 2021. Signup and get
updates on ngo jobs, government jobs and part time jobs in Kenya. Visit our career page and courses to enhance your
career{% endblock %}
{% block title %} jobsearchKE | Courses {% endblock %}

{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Courses</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'jobs:home' %}"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Top Courses</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="section">
    <div class="container">
        <h2 class="section-title">Recommended Courses</h2>
        <div class="row">
            <div class="col-md-12">
                {% for course in courses %}
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{{course.url}}">
                        <div class="icon">
                            <i class="{{course.icon}}"></i>
                        </div>
                        <h4>{{course.title}}</h4>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}