{% extends "jobs/base.html" %}
{% load static %}
{% block content %}
{% include "jobs/head.html" %}
<div class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="about-content">
                    <img src="{% static 'jobs/img/500.svg' %}" alt="500" srcset="">
                    <h2 class="medium-title">Under Maintenance</h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
