{% extends "jobs/base.html" %}
{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">About Us</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="about-content">
                    <h2 class="medium-title">About JobsearchKE</h2>
                    <p class="desc">JobsearchKE is the number one job portal in kenya, we provide the latest job
                        opportunities in Kenya.</p>
                    <p>We provide you with the latest jobs from the top companies and recruiters in the country, sign up
                        to receive daily reminders and updates on Jobs that match your qualification</p>
                    <p>We have a dedicated team of seasoned human resource professionals and recruiters that would help
                        you write the perfect CV and Cover Letter for your next Job. We also provide career advice on
                        our <a href="https://jobsearchke.com/blog">Blog</a> to guide you through your career as a
                        professional.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="testimonial" class="section">
    <div class="container">
        <div class="row">
            <div class="mb-15">
                <h2 class="medium-title">Client Testimonials</h2>
            </div>

            <div class="touch-slider" class="owl-carousel owl-theme">
                <div class="item active text-center">

                    <div class="client-info">
                        <h2 class="client-name">"John Kibet <span>(Sales Rep)</span></h2>
                    </div>
                    <p><i class="fa fa-quote-left quote-left"></i> Working with JobsearchKE was the best decision ever<i
                            class="fa fa-quote-right quote-right"></i><br> I got my current job thanks to
                        JobsearchKe<br> </p>
                </div>
                <div class="item text-center">

                    <div class="client-info">
                        <h2 class="client-name">"Mary Wangui <span>(Project Menager)</span></h2>
                    </div>
                    <p><i class="fa fa-quote-left quote-left"></i> JobsearchKE gave me an opportunity that lead to my
                        current job<i class="fa fa-quote-right quote-right"></i><br> I worked with their human resource
                        team that helped me draft the perfect resume and cover letter<br></p>
                </div>
                <div class="item text-center">

                    <div class="client-info">
                        <h2 class="client-name">" Mercy Rono <span>(Network Engineer)</span></h2>
                    </div>
                    <p><i class="fa fa-quote-left quote-left"></i> JobsearchKE is the perfect website for any job
                        seeker<i class="fa fa-quote-right quote-right"></i><br> I have benefited from their daily job
                        posts and their career advice.<br> </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}