{% extends "jobs/base.html" %}
{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">About Us</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}