{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block ads %}

    {% endblock %}
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/">
    <link rel="dns-prefetch" href="https://www.google-analytics.com/">
    <link rel="dns-prefetch" href="https://pagead2.googlesyndication.com/">
    <link rel="dns-prefetch" href="https://tpc.googlesyndication.com/">
    <link rel="dns-prefetch" href="https://googleads.g.doubleclick.net/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="dns-prefetch" href="https://ajax.cloudflare.com/">
    <link rel="preconnect" href="https://www.googletagmanager.com/">
    <link rel="preconnect" href="https://wwww.google-analytics.com/">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192810582-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-192810582-1');
        gtag('config', 'AW-706350396');
    </script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <base href="https://jobsearchke.com">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="{% block meta%} {% endblock %}">
    {% block canonical %} {% endblock %}
    <meta name="revisit-after" content="1">
    <meta name="refresh time" content="1">
    <meta name="copyright" content="jobsearchke.com"> 
    <meta name="author" content="JobsearchKE">  
    <meta name="language" content="English"> 
    

    <meta property="og:title" content="{% block ogtitle%} {% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% block ogurl %} {% endblock %}" />
    <meta property="og:image" content="{% block ogimg %} {% endblock %}" />
    <meta property="og:site_name" content="JobsearchKe" />
    <meta property="og:description" content="{% block ogdesc %} {% endblock %}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jobsearchke">
    <meta name="twitter:creator" content="@jobsearchke">

   


    <link rel=" apple-touch-icon" sizes="180x180" href="{% static 'jobs/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'jobs/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'jobs/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/manifest.json' %}">

    <link rel="stylesheet" href="{% static 'jobs/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'jobs/css/jasny-bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'jobs/css/bootstrap-select.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'jobs/css/material-kit.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'jobs/extras/animate.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'jobs/extras/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'jobs/extras/owl.theme.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'jobs/extras/settings.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'jobs/css/slicknav.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'jobs/css/main.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'jobs/css/responsive.min.css' %}" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'jobs/css/colors/green.css' %}" media="screen" />

    <script async src="https://kit.fontawesome.com/77a152ee1f.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
        data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script defer type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us4.list-manage.com", "uuid": "8db7e3c5549e55a17b66dc9ec", "lid": "53f4cea562", "uniqueMethods": true }) })</script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if messages%}
                {% for message in messages%}
                <div class="alert alert-{{message.tags}}">
                    {{message}}
                </div>
                {% endfor%}
                {% endif %}
            </div>
        </div>

    </div>

    {% block content %}

    {% endblock %}


    {% include "jobs/footer.html" %}
    <a href="#" class="back-to-top">
        <i class="fas fa-arrow-up"></i>
    </a>

    <script type="text/javascript" src="{% static 'jobs/js/jquery-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/material.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/material-kit.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/jquery.parallax.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/jquery.slicknav.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/jquery.counterup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/jasny-bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/form-validator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/contact-form-script.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'jobs/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobs/js/jquery.themepunch.tools.min.js' %}"></script> -->

</body>

</html>