{% extends "jobs/base.html" %}


{% block ads %}
<script data-ad-client="ca-pub-1810260271665361" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block meta %} Jobs in Kenya 2024 - JobsearchKE provides the latest job vacancies in Kenya 2024. Signup and get
updates on ngo jobs, government jobs and part time jobs in Kenya. Visit our career page and courses to enhance your
career{% endblock %}

{% block ogdesc %}
Jobs in Kenya 2024 - JobsearchKE provides the latest job vacancies in Kenya 2024. Signup and get updates on ngo jobs,
government jobs and part time jobs in Kenya. Visit our career page and courses to enhance your career
{% endblock %}
{% block ogtitle %}
Jobs in Kenya 2024 - Job Vacancies in Kenya 2024 | JobsearchKE
{% endblock %}
{% block ogurl%}
{%endblock %}
{% block ogimg %}

{% endblock %}

{% block title %} Jobs in Kenya 2024 - Job Vacancies in Kenya 2024 | JobsearchKE {% endblock %}

{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h1 style="display: none;">Jobs in Kenya 2024, NGO Jobs in Kenya, Today Jobs Kenya</h1>
                    <h2 class="product-title">Categories</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Browse Categories</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="section">
    <div class="container">
        <h2 class="section-title">Jobs by Category</h2>
        <div class="row">
            <div class="col-md-12">
                {% for category in categories %}
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{%url 'jobs:jobs_by_category' slug=category.slug %}">
                        <div class=" icon">
                            <i class="fab fa-adversal"></i>
                        </div>
                        <h3>{{category.title |capfirst }}</h3>
                        <p>{{category.job_set.count}} jobs</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}