{% extends "jobs/base.html" %}
{% block tag %}
<script data-ad-client="ca-pub-1810260271665361" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}
{% block meta %} Latest Jobs in Kenya 2020 | jobsearchKE
{% endblock %}
{% block title %} Jobs | JobsearchKE {% endblock %}

{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Latest Jobs</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Browse Job</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="job-browse section">
    <div class="container">
        <div class="banner-ad">
            <a href="https://click.linksynergy.com/fs-bin/click?id=y28vz/PNad8&offerid=677233.37&subid=0&type=4"><IMG
                    border="0" alt="ECourses4You"
                    src="https://ad.linksynergy.com/fs-bin/show?id=y28vz/PNad8&bids=677233.37&subid=0&type=4&gridnum=16"></a>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-8">
                {% for query in queryset %}
                <div class="job-list">
                    <div class="thumb">
                        <a href="{{query.get_absolute_url}}"><img src="{{query.image.url}}" alt=""></a>
                    </div>
                    <div class="job-list-content">
                        <h4><a href="{{query.get_absolute_url}}">{{query.title}}</a></h4>
                        <p>{{query.description}}
                        </p>
                        <div class="job-tag">
                            <div class="pull-left">
                                <div class="meta-tag">
                                    <span><a href="browse-categories.html">
                                            <i class="fas fa-paint-brush"></i>{{query.category}}</a></span>
                                    <span><i class="fas fa-map-marker-alt"></i>Nairobi, Kenya</span>
                                    <span><i class="fas fa-calendar-day"></i>{{query.publish|date:"M/d/Y"}}</span>

                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="{{query.get_absolute_url}}" class="btn btn-common btn-rm">Apply Job</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <ul class="pagination">
                    {% if queryset.has_previous %}
                    <li class="active"><a href="?page={{queryset.previous_page_number}}" class="btn btn-common">
                            prev</a></li>
                    {% endif %}

                    {% for num in queryset.paginator.page_range %}
                    {% if queryset.number == num %}
                    <li><a href="#" class="active">{{num}}</a></li>
                    {% elif num > queryset.number|add:'-2' and num < queryset.number|add:'2' %}
                    <li><a href="?page={{num}}">{{num}}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if queryset.has_next %}
                    <li class="active"><a href="?page={{queryset.next_page_number}}" class="btn btn-common">Next</a>
                    </li>
                    {% endif %}
                </ul>

            </div>

            {% include "jobs/sidebar.html"%}
        </div>
    </div>
</section>
{% endblock %}