{% extends "jobs/base.html" %}
{% block tag %}
<script data-ad-client="ca-pub-1810260271665361" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block meta %} {{company | capfirst}} Latest Jobs in Kenya 2021. Signup and apply for the current job vacancies
at {{company}} on JobsearchKE. Visit our career page and courses to enhance your career | JobsearchKE
{% endblock %}

{% block ogdesc %}
{{company | capfirst}} Latest Jobs in Kenya 2021. Signup and apply for the current job vacancies
at {{company}} on JobsearchKE. Visit our career page and courses to enhance your career | JobsearchKE
{% endblock %}

{% block ogtitle %}
{{company|capfirst}} Jobs in Kenya - Latest {{company}} job vacancies | JobsearchKE
{% endblock %}

{% block ogimg %}

{% endblock %}

{% block title %} {{category|capfirst}} Jobs in Kenya - Latest {{company}} job vacancies at JobsearchKE {% endblock %}

{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Latest Jobs at {{company | capfirst}}</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Browse Job</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="job-browse section">
    <div class="container">
        <!-- <div class="banner-ad">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            Horizontal 3
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1810260271665361"
                data-ad-slot="5550065457" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div> -->
        <div class="row">
            <div class="col-md-9 col-sm-8">
                {% for job in jobs %}
                <div class="job-list">
                    <div class="thumb">
                        <a href="{{job.get_absolute_url}}"><img src="{{job.company.logo.url}}" alt=""></a>
                    </div>
                    <div class="job-list-content">
                        <h4><a href="{{job.get_absolute_url}}">{{job.title}}</a></h4>
                        <p>{{job.description}}
                        </p>
                        <div class="job-tag">
                            <div class="pull-left">
                                <div class="meta-tag">
                                    <span><a href="browse-categories.html">
                                            <i class="fas fa-paint-brush"></i>{{job.jobcategory.title}}</a></span>
                                    <span><i class="fas fa-map-marker-alt"></i>{{job.location}}</span>
                                    <span><i class="fas fa-calendar-day"></i>{{job.publish|date:"M/d/Y"}}</span>

                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="{{job.get_absolute_url}}" class="btn btn-common btn-rm">Apply Job</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="banner-ad">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    Horizontal 3
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1810260271665361"
                        data-ad-slot="5550065457" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div> -->

                <ul class="pagination">
                    {% if jobs.has_previous %}
                    <li class="active"><a href="?page={{jobs.previous_page_number}}" class="btn btn-common">
                            prev</a></li>
                    {% endif %}

                    {% for num in jobs.paginator.page_range %}
                    {% if jobs.number == num %}
                    <li><a href="#" class="active">{{num}}</a></li>
                    {% elif num > jobs.number|add:'-2' and num < jobs.number|add:'2' %} <li><a
                            href="?page={{num}}">{{num}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if jobs.has_next %}
                        <li class="active"><a href="?page={{jobs.next_page_number}}" class="btn btn-common">Next</a>
                        </li>
                        {% endif %}
                </ul>

            </div>

            {% include "jobs/sidebar.html"%}
        </div>
    </div>
</section>
{% endblock %}