{% extends "jobs/base.html" %}


{% block ads %}
<script data-ad-client="ca-pub-1810260271665361" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block meta %} Jobs in Kenya 2022 - JobsearchKE provides the latest job vacancies in Kenya 2022. Signup and get
updates on ngo jobs, government jobs and part time jobs in Kenya. Visit our career page and courses to enhance your
career{% endblock %}

{% block ogdesc %}
Jobs in Kenya 2022 - JobsearchKE provides the latest job vacancies in Kenya 2022. Signup and get updates on ngo jobs,
government jobs and part time jobs in Kenya. Visit our career page and courses to enhance your career
{% endblock %}
{% block ogtitle %}
Jobs in Kenya 2022 - Job Vacancies in Kenya 2022 | JobsearchKE
{% endblock %}
{% block ogurl%}
{%endblock %}
{% block ogimg %}

{% endblock %}

{% block title %} Jobs in Kenya 2022 - Job Vacancies in Kenya 2022 | JobsearchKE {% endblock %}

{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Companies</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Browse Companies</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>More than 100 top companies hiring today</h2>
                <div class="content">
                    <form method="GET" action=".">
                        <div class="row">
                            <div class="col-md-11 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="q" value="{{request.GET.q}}"
                                        placeholder="Search by Company Name ">
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-6">
                                <button type="submit" class="btn btn-search-icon"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
            <a href="https://kol.jumia.com/api/click/banner/fb9fd199-04bb-45d8-babf-59f27696ffce/ed8f2110-4a85-4e3f-91ff-f623131e5ae6"><img src="https://kol.jumia.com/banners/5BN5ReSftQkXz60tIrCZqcYTuxfr4vfHWYxr0fRX.png" alt="Everything on JUMIA"/></a>
    </div>
</div>

<section class="section pt-30px">
    <div class="container">
        <h2 class="section-title">Jobs by Company</h2>
        <div class="row">
            <div class="col-md-12">
                {% for company in companies %}
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{%url 'jobs:jobs_by_company' slug=company.slug %}">
                        <div>
                            <img src="{{company.logo.url}}" alt="JobsearchKE Jobs">
                        </div>
                        <div>
                            <h3>{{ company.name | capfirst}}</h3>    
                        </div>
                       <div>
                        <p>{{company.job_set.count}} jobs</p>
                       </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock %}