{% extends "jobs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Contact us</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Contact Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="medium-title">
                    Contact Us
                </h2>
                <div class="information">
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="info">
                            <h3>Social Media</h3>
                            <span class="detail">Facebook: JobsearchKE</span>
                            <span class="datail">Twitter: @JobsearchKE</span>
                            <span class="datail">Telegram: jobsearchke</span>
                        </div>
                    </div>
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="info">
                            <h3>Email Address</h3>
                            <span>Inquieries: info@jobsearchke.com </span>
                            <div>
                                <span>CV Services: cv@jobsearchke.com </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <form method="POST" class="contact-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        {{form.name|as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        {{form.email|as_crispy_field}}

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">

                                        {{form.subject|as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">

                                        {{form.message|as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-common">Send</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}