{% extends "jobs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Contact us</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Contact Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="medium-title">
                    Contact Us
                </h2>
                <div class="information">
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="info">
                            <h3>Address</h3>
                            <span class="detail">Main Office: NO.22-23 Street Name- City,Country</span>
                            <span class="datail">Customer Center: NO.130-45 Streen Name- City, Country</span>
                        </div>
                    </div>
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="info">
                            <h3>Phone Numbers</h3>
                            <span class="detail">Main Office: +880 123 456 789</span>
                            <span class="datail">Customer Supprort: +880 123 456 789 </span>
                        </div>
                    </div>
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="ti-location-arrow"></i>
                        </div>
                        <div class="info">
                            <h3>Email Address</h3>
                            <span class="detail">Customer
                                Support: <a href="http://demo.graygrids.com/cdn-cgi/l/email-protection"
                                    class="__cf_email__"
                                    data-cfemail="9ef7f0f8f1def3fff7f2b0fdf1f3">[email&#160;protected]</a></span>
                            <span class="detail">Technical Support: <a
                                    href="http://demo.graygrids.com/cdn-cgi/l/email-protection" class="__cf_email__"
                                    data-cfemail="53202623233c2127133e323a3f7d303c3e">[email&#160;protected]</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <form method="POST" class="contact-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- <input type="text" class="form-control" id="name" name="name"
                                            placeholder="Full Name" required data-error="Please enter your name"> -->
                                        {{form.name|as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- <input type="text" class="form-control" id="email"
                                            placeholder="mail@sitename.com" required
                                            data-error="Please enter your email"> -->
                                        {{form.email|as_crispy_field}}

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- <input type="text" placeholder="Subject" id="msg_subject" class="form-control"
                                            required data-error="Please enter your subject">
                                        <div class="help-block with-errors"></div> -->
                                        {{form.subject|as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- <textarea class="form-control" id="message" placeholder="Massage" rows="11"
                                            data-error="Write your message" required></textarea> -->
                                        {{form.message|as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-common">Send</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}