{% load static %}
{% load crispy_forms_tags %}
<footer>
    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h3 class="block-title"><img src="{% static 'jobs/img/lala.png' %}" class="img-responsive"
                                alt="Footer Logo">
                        </h3>
                        <div class="textwidget">
                            <p>JobsearchKE is a platform that provides you with the latest job opportunities in Kenya.
                                We also provide you with high-quality resumes and cover letters. Look at our career blog
                                section for career advice.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h3 class="block-title">Quick Links</h3>
                        <ul class="menu">
                            <li><a href="{% url 'jobs:about' %}">About Us</a></li>
                            <li><a href="{% url 'jobs:contact' %}">Contact</a></li>
                            <li><a href="{% url 'jobs:privacy' %}">Privacy Policy</a></li>
                            <li><a href="{% url 'jobs:terms_of_service' %}">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h3 class="block-title">Trending Tweets</h3>
                        <ul class="menu">
                            <li><a href="#">Android Developer</a></li>
                            <li><a href="#">Senior Accountant</a></li>
                            <li><a href="#">Frontend Developer</a></li>
                            <li><a href="#">Junior Tester</a></li>
                            <li><a href="#">Project Manager</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12" id="subscribe">
                    <div class="widget">
                        <h3 class="block-title">Follow Us</h3>
                        <div class="bottom-social-icons social-icon">
                            <a class="twitter" href=""><i class="fab fa-twitter"></i></a>
                            <a class="facebook" href=""><i class="fab fa-facebook"></i></a>
                            <a class="youtube" href=""><i class="fab fa-telegram"></i></a>
                            <a class="linkedin" href=""><i class="fab fa-linkedin"></i></a>
                        </div>
                        <p>Join our mailing list to stay up to date and get notices about our new job postings!</p>
                        <form method="POST" class="subscribe-box">
                            {% csrf_token %}
                            {{s_form|crispy}}
                            <input type="submit" class="btn-system" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info text-center">
                        <p>All Rights reserved &copy; 2020 - Designed & Developed by <a rel="nofollow" href="">The
                                Greek</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>