<section id="">
    <div class="header">
        <div class="logo-menu">
            <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href="index-2.html"><img src="assets/img/logo.png" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">

                        <ul class="nav navbar-nav">
                            <li>
                                <a class="active" href="{% url 'jobs:home' %}">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    Categories
                                </a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="category/advertising">
                                            Advertising
                                        </a>
                                    </li>
                                    <li>
                                        <a href="category/aviation">
                                            Aviation
                                        </a>
                                    </li>
                                    <li>
                                        <a href="catehory/banking">
                                            Banking
                                        </a>
                                    </li>
                                    <li>
                                        <a href="category/education">
                                            Education
                                        </a>
                                    </li>
                                    <li>
                                        <a href="category/engineering">
                                            Engineering
                                        </a>
                                    </li>
                                    <li>
                                        <a href="category/government">
                                            Government
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    Candidates
                                </a>

                            </li>
                            <li>
                                <a href="#">
                                    Employers
                                </a>

                            </li>
                            <li>
                                <a href="{% url 'blog:blog' %}">
                                    Blog
                                </a>

                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right float-right">
                            <li class="left"><a href="post-job.html"><i class="ti-pencil-alt"></i> Post A Job</a></li>
                            <li class="right"><a href="my-account.html"><i class="ti-lock"></i> Log In</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="wpb-mobile-menu">
                    <li>
                        <a class="active" href="{% url 'jobs:home' %}">Home</a>
                    </li>
                    <li>
                        <a href="about.html">Categories</a>
                        <ul>
                            <li>
                                <a class="active" href="index-2.html">
                                    Advertising
                                </a>
                            </li>
                            <li>
                                <a href="index-02.html">
                                    Aviation
                                </a>
                            </li>
                            <li>
                                <a href="index-03.html">
                                    Banking
                                </a>
                            </li>
                            <li>
                                <a href="index-04.html">
                                    Education
                                </a>
                            </li>
                            <li>
                                <a href="index-04.html">
                                    Engineering
                                </a>
                            </li>
                            <li>
                                <a href="index-04.html">
                                    Government
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">For Candidates</a>

                    </li>
                    <li>
                        <a href="#">For Employers</a>

                    </li>
                    <li>
                        <a href="{% url 'blog:blog' %}">Blog</a>

                    </li>
                    <li class="btn-m"><a href="post-job.html"><i class="ti-pencil-alt"></i> Post A Job</a></li>
                    <li class="btn-m"><a href="my-account.html"><i class="ti-lock"></i> Log In</a></li>
                </ul>

            </nav>
        </div>
    </div>
</section>