<div class="header">
    <section id="intro-bg">
        <div class="logo-menu">
            <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href="index-2.html"><img src="assets/img/logo.png" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">

                        <ul class="nav navbar-nav">
                            <li>
                                <a class="active" href="index-2.html">
                                    Home <i class="fa fa-angle-down"></i>
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    Pages <i class="fa fa-angle-down"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Candidates <i class="fa fa-angle-down"></i>
                                </a>

                            </li>
                            <li>
                                <a href="#">
                                    Employers <i class="fa fa-angle-down"></i>
                                </a>

                            </li>
                            <li>
                                <a href="blog.html">
                                    Blog <i class="fa fa-angle-down"></i>
                                </a>

                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right float-right">
                            <li class="left"><a href="post-job.html"><i class="ti-pencil-alt"></i> Post A Job</a></li>
                            <li class="right"><a href="my-account.html"><i class="ti-lock"></i> Log In</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="wpb-mobile-menu">
                    <li>
                        <a class="active" href="index-2.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">Pages</a>
                    </li>
                    <li>
                        <a href="#">For Candidates</a>

                    </li>
                    <li>
                        <a href="#">For Employers</a>

                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                    </li>
                    <li class="btn-m"><a href="post-job.html"><i class="ti-pencil-alt"></i> Post A Job</a></li>
                    <li class="btn-m"><a href="my-account.html"><i class="ti-lock"></i> Log In</a></li>
                </ul>

            </nav>
        </div>
        <div class="search-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <form method="">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text"
                                                placeholder="job title / keywords / company name">
                                            <i class="far fa-clock"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="email"
                                                placeholder="city / province / zip code">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="search-category-container">
                                            <label class="styled-select">
                                                <select class="dropdown-product selectpicker">
                                                    <option>All Categories</option>
                                                    <option>Finance</option>
                                                    <option>IT & Engineering</option>
                                                    <option>Education/Training</option>
                                                    <option>Art/Design</option>
                                                    <option>Sale/Markting</option>
                                                    <option>Healthcare</option>
                                                    <option>Science</option>
                                                    <option>Food Services</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6">
                                        <button type="button" class="btn btn-search-icon">
                                            <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>