{% load static %}
<section id="">
    <div class="header">
        <div class="logo-menu">
            <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href="{% url 'jobs:home' %}"><img
                                src="{% static 'jobs/img/lala.png' %}" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">

                        <ul class="nav navbar-nav">
                            <li class="extra">
                                <a class="active" href="{% url 'jobs:home' %}">
                                    Home
                                </a>
                            </li>
                            <li class="extra">
                                <a href="{% url 'jobs:categories' %}">
                                    Categories
                                </a>
                                <ul class="dropdown">
                                    {% for cat in category %}
                                    <li>
                                        <a href="{%url 'jobs:jobs_by_category' query=cat %}">
                                            {{cat}}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="extra">
                                <a href="{% url 'courses:home' %}">
                                    Courses
                                </a>

                            </li>
                            <!-- <li>
                                <a href="{% url 'resume:home' %}">
                                    CV Services
                                </a>

                            </li> -->
                            <li class="extra">
                                <a href="{% url 'career:home' %}">
                                    Career Blog
                                </a>

                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right float-right">
                            {% if user.is_authenticated %}
                            <li class="left"><a href="{% url 'profile' %}"><i class="ti-pencil-alt"></i> My Profile</a>
                            </li>
                            <li class="left"><a href="{% url 'logout' %}"><i class="ti-pencil-alt"></i> Logout</a>
                            </li>
                            {% else %}
                            <li class="left"><a href="{% url 'register' %}"><i class="ti-pencil-alt"></i> Sign Up</a>
                            </li>
                            <li class="right"><a href="{% url 'login' %}"><i class="ti-lock"></i> Log In</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <ul class="wpb-mobile-menu">
                    <li>
                        <a class="active" href="{% url 'jobs:home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'jobs:categories' %}">Categories</a>
                        <ul>
                            {% for cat in category %}
                            <li>
                                <a class="active" href="{%url 'jobs:jobs_by_category' query=cat %}">
                                    {{cat}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'courses:home' %}">
                            Courses
                        </a>

                    </li>
                    <!-- <li>
                        <a href="{% url 'resume:home' %}">
                            CV Services
                        </a>

                    </li> -->
                    <li>
                        <a href="{% url 'career:home' %}">Career Blog</a>

                    </li>
                    {% if user.is_authenticated %}
                    <li class="left"><a href="{% url 'profile' %}"><i class="ti-pencil-alt"></i> My Profile</a>
                    </li>
                    <li class="left"><a href="{% url 'logout' %}"><i class="ti-pencil-alt"></i> Logout</a>
                    </li>
                    {% else %}
                    <li class="left"><a href="{% url 'register' %}"><i class="ti-pencil-alt"></i> Sign Up</a>
                    </li>
                    <li class="right"><a href="{% url 'login' %}"><i class="ti-lock"></i> Log In</a></li>
                    {% endif %}
                </ul>

            </nav>
        </div>
    </div>
</section>