<div class="search-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Find the latest jobs in Kenya</h1><br>
                <h2>Find more than <strong>1,000</strong> jobs in Kenya to Kickstart your career in 2021!</h2>
                <div class="content">
                    <form method="GET" action="{% url 'jobs:job_search' %}">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="q" value="{{request.GET.q}}"
                                        placeholder="job title / keywords / company name">

                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <div class="search-category-container">
                                    <label class="styled-select">
                                        <select class="dropdown-product selectpicker" name="choice">
                                            <option>All Categories</option>
                                            {% for cat in categories %}
                                            <option value="{{cat.title}}">{{cat.title|capfirst}}</option>
                                            {% endfor %}

                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-6">
                                <button type="submit" class="btn btn-search-icon"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="popular-jobs">
                    <b>Popular Keywords: </b>
                    <a href="#">Web Design</a>
                    <a href="#">Manager</a>
                    <a href="#">Programming</a>
                </div>
            </div>
        </div>
    </div>
</div>