{% extends "jobs/base.html" %}

{% block content %}
{% include "jobs/navbar.html" %}

<section class="find-job section">
    <div class="container">
        <h2 class="section-title">Latest Jobs in Kenya 2020</h2>
        <div class="row">
            <div class="col-md-9 col-sm-8">
                {% for job in jobs %}
                <div class="job-list">
                    <div class="thumb">
                        <a href="{{job.get_absolute_url}}"><img src="{{job.thumbnail}}" alt="{{job.title}}"></a>
                    </div>
                    <div class="job-list-content">
                        <h4><a href="{{job.get_absolute_url}}">{{job.title}}</a>
                        </h4>
                        <p>{{job.description}}
                        </p>
                        <div class="job-tag">
                            <div class="pull-left">
                                <div class="meta-tag">
                                    <span><a href="browse-categories.html">
                                            <i class="fas fa-paint-brush"></i>{{job.category}}</a></span>
                                    <span><i class="fas fa-map-marker-alt"></i>Nairobi, Kenya</span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="{{job.get_absolute_url}}" class="btn btn-common btn-rm">Apply Job</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="container">
                    <ul class="pagination">
                        {% if jobs.has_previous %}
                        <li class="active"><a href="?page={{jobs.previous_page_number}}" class="btn btn-common"><i
                                    class="ti-angle-left"></i> prev</a>
                        </li>
                        {% endif %}

                        {% for num in jobs.paginator.page_range %}
                        {% if jobs.number == num %}
                        <li><a href="#" class="active">{{num}}</a></li>
                        {% elif num > jobs.number|add:'-2' and num < jobs.number|add:'2'%}
                        <li><a href="?page={{num}}">{{num}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if jobs.has_next %}
                        <li class="active"><a href="?page={{jobs.next_page_number}}" class="btn btn-common">Next <i
                                    class="ti-angle-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <aside>
                    <div class="sidebar">
                        <div class="inner-box">
                            <h3>Categories</h3>
                            <ul class="cat-list">
                                {% for ads in advertising  %}
                                <li>
                                    <a href="#">{{ads.title}}<span class="num-posts"></span></a>
                                </li>
                                {% endfor %}
                                <!-- <li>
                                    <a href="#">Techonologies <span class="num-posts">4,256 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Art/Design<span class="num-posts">3,245 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Science <span class="num-posts">4,256 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Education Training <span class="num-posts">4,560 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Logistics <span class="num-posts">3,256 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Food Services <span class="num-posts">1,256 Jobs</span></a>
                                </li> -->
                            </ul>
                        </div>
                        <div class="inner-box">
                            <h3>Job Status</h3>
                            <ul class="cat-list">
                                <li>
                                    <a href="#">Full Time <span class="num-posts">12,256 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Part Time <span class="num-posts">6,510 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Freelancer <span class="num-posts">1,171 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Internship <span class="num-posts">876 Jobs</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="inner-box">
                            <h3>Locations</h3>
                            <ul class="cat-list">
                                <li>
                                    <a href="#">New York <span class="num-posts">4,197 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">San Francisco <span class="num-posts">2,256 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">San Diego <span class="num-posts">3,278 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Los Angeles <span class="num-posts">5,294 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Chicago <span class="num-posts">1,746 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">Houston <span class="num-posts">871 Jobs</span></a>
                                </li>
                                <li>
                                    <a href="#">New Orleans <span class="num-posts">2,163 Jobs</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<section class="category section">
    <div class="container">
        <h2 class="section-title">Browse Categories</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="category/advertising">
                        <div class=" icon">
                            <i class="ti-home"></i>
                        </div>
                        <h3>Advertising</h3>
                        <p>4286 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="category/sales">
                        <div class="icon">
                            <i class="ti-world"></i>
                        </div>
                        <h3>Sales/Marketing</h3>
                        <p>2000 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="category/education">
                        <div class="icon">
                            <i class="ti-book"></i>
                        </div>
                        <h3>Education/Training</h3>
                        <p>1450 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="category/engineering">
                        <div class="icon">
                            <i class="ti-desktop"></i>
                        </div>
                        <h3>ICT/Engineering</h3>
                        <p>5100 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="category/banking">
                        <div class="icon">
                            <i class="ti-brush"></i>
                        </div>
                        <h3>Banking</h3>
                        <p>5079 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="category/government">
                        <div class="icon">
                            <i class="ti-heart"></i>
                        </div>
                        <h3>Government</h3>
                        <p>3235 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="category/manufacturing">
                        <div class="icon">
                            <i class="ti-filter"></i>
                        </div>
                        <h3>Manufacturing</h3>
                        <p>1800 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="category/ngo">
                        <div class="icon">
                            <i class="ti-cup"></i>
                        </div>
                        <h3>NGOs</h3>
                        <p>4286 jobs</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog" class="section">

    <div class="container">
        <h2 class="section-title">
            Latest News
        </h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                <div class="blog-item-wrapper">
                    <div class="blog-item-img">
                        <a href="single-post.html">
                            <img src="assets/img/blog/home-items/img1.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-item-text">
                        <div class="meta-tags">
                            <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                            <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                        </div>
                        <a href="single-post.html">
                            <h3>
                                Tips to write an impressive resume online for beginner
                            </h3>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad
                            vitae.
                        </p>
                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                <div class="blog-item-wrapper">
                    <div class="blog-item-img">
                        <a href="single-post.html">
                            <img src="assets/img/blog/home-items/img2.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-item-text">
                        <div class="meta-tags">
                            <span class="date"><i class="ti-calendar"></i> Jan 20, 2018</span>
                            <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                        </div>
                        <a href="single-post.html">
                            <h3>
                                Let's explore 5 cool new features in JobBoard theme
                            </h3>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad
                            vitae.
                        </p>
                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                <div class="blog-item-wrapper">
                    <div class="blog-item-img">
                        <a href="single-post.html">
                            <img src="assets/img/blog/home-items/img3.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-item-text">
                        <div class="meta-tags">
                            <span class="date"><i class="ti-calendar"></i> Mar 20, 2018</span>
                            <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                        </div>
                        <a href="single-post.html">
                            <h3>
                                How to convince recruiters and get your dream job
                            </h3>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad
                            vitae.
                        </p>
                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="infobox section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-text">
                    <h2>Don't Want To Miss a Thing?</h2>
                    <p>Just go to <a href="#">Google Play</a> to download JobBoard Mini</p>
                </div>
                <a href="#" class="btn btn-border">Google Play</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}