{% extends "jobs/base.html" %}

{% block ads %}
<script data-ad-client="ca-pub-1810260271665361" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block meta %} JobsearchKE provides you with the latest job opportunities in Kenya 2020. Sign Up to our platform to
receive updates on the latest vaccancies, top resume templates and career advice {% endblock %}

{% block keyword %} jobs kenya, ngo jobs, latest jobs in kenya 2020 {% endblock %}
{% block title%} JobsearchKE | Latest Jobs in Kenya {% endblock %}

{% block content %}
{% include "jobs/navbar.html" %}

<section class="find-job section">
    <div class="container">
        <!-- <div class="banner-ad">
            <a href="https://click.linksynergy.com/fs-bin/click?id=y28vz/PNad8&offerid=677233.37&subid=0&type=4"><IMG
                    border="0" alt="ECourses4You"
                    src="https://ad.linksynergy.com/fs-bin/show?id=y28vz/PNad8&bids=677233.37&subid=0&type=4&gridnum=16"></a>
        </div> -->
        <h2 class="section-title">Latest Jobs in Kenya 2020</h2>
        <div class="row">
            <div class="col-md-9 col-sm-8">
                {% for job in jobs %}
                <div class="job-list">
                    <div class="thumb">
                        <a href="{{job.get_absolute_url}}"><img src="{{job.image.url}}" alt="{{job.title}}"></a>
                    </div>
                    <div class="job-list-content">
                        <h4><a href="{{job.get_absolute_url}}">{{job.title}}</a>
                        </h4>
                        <p>{{job.description}}
                        </p>
                        <div class="job-tag">
                            <div class="pull-left">
                                <div class="meta-tag">
                                    <span><a href="#">
                                            <i class="fas fa-paint-brush"></i>{{job.category}}</a></span>
                                    <span><i class="fas fa-map-marker-alt"></i>Nairobi, Kenya</span>
                                    <span><i class="fas fa-calendar-day"></i>{{job.publish|date:"M/d/Y"}}</span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="{{job.get_absolute_url}}" class="btn btn-common btn-rm">Apply Job</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="container">
                    <ul class="pagination">
                        {% if jobs.has_previous %}
                        <li class="active"><a href="?page={{jobs.previous_page_number}}" class="btn btn-common"><i
                                    class="ti-angle-left"></i> prev</a>
                        </li>
                        {% endif %}

                        {% for num in jobs.paginator.page_range %}
                        {% if jobs.number == num %}
                        <li><a href="#" class="active">{{num}}</a></li>
                        {% elif num > jobs.number|add:'-2' and num < jobs.number|add:'2'%}
                        <li><a href="?page={{num}}">{{num}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if jobs.has_next %}
                        <li class="active"><a href="?page={{jobs.next_page_number}}" class="btn btn-common">Next <i
                                    class="ti-angle-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% include "jobs/sidebar.html" %}
        </div>
    </div>
</section>
<section class="category section" id="category">
    <div class="container">
        <h2 class="section-title">Job Categories</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{%url 'jobs:jobs_by_category' query='advertising' %}">
                        <div class=" icon">
                            <i class="fab fa-adversal"></i>
                        </div>
                        <h3>Advertising</h3>
                        <p>4286 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{%url 'jobs:jobs_by_category' query='sales' %}">
                        <div class="icon">
                            <i class="fas fa-globe"></i>
                        </div>
                        <h3>Sales/Marketing</h3>
                        <p>2000 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{%url 'jobs:jobs_by_category' query='education' %}">
                        <div class="icon">
                            <i class="fas fa-book"></i>
                        </div>
                        <h3>Education/Training</h3>
                        <p>1450 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{%url 'jobs:jobs_by_category' query='engineering' %}">
                        <div class="icon">
                            <i class="fas fa-desktop"></i>
                        </div>
                        <h3>ICT/Engineering</h3>
                        <p>5100 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{%url 'jobs:jobs_by_category' query='banking' %}">
                        <div class="icon">
                            <i class="fas fa-home"></i>
                        </div>
                        <h3>Banking</h3>
                        <p>5079 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{%url 'jobs:jobs_by_category' query='government' %}">
                        <div class="icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <h3>Government</h3>
                        <p>3235 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{%url 'jobs:jobs_by_category' query='manufacturing' %}">
                        <div class="icon">
                            <i class="fas fa-industry"></i>
                        </div>
                        <h3>Manufacturing</h3>
                        <p>1800 jobs</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                    <a href="{%url 'jobs:jobs_by_category' query='ngo' %}">
                        <div class="icon">
                            <i class="fas fa-hand-holding-heart"></i>
                        </div>
                        <h3>NGOs</h3>
                        <p>4286 jobs</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog" class="section">

    <div class="container">
        <h2 class="section-title">
            Latest Career Advice
        </h2>
        <div class="row">
            {% for post in latest_posts %}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
                <div class="blog-item-wrapper">
                    <div class="blog-item-text">
                        <div class="meta-tags">
                            <span class="date"><i class="fas fa-calendar-day"></i> {{post.publish}}</span>
                            <span class="comments"><a href="#"><i class="far fa-user"></i> By
                                    {{post.author}}</a></span>
                        </div>
                        <a href="{{post.get_absolute_url}}">
                            <h3>
                                {{post.title}}
                            </h3>
                        </a>
                        <p>
                            {{post.description|truncatewords:20}}
                        </p>
                        <a href="{{post.get_absolute_url}}" class="btn btn-common btn-rm">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="infobox section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-text">
                    <h2>Don't Want To Miss a Thing?</h2>
                    <p>Subscribe <a href="#subscribe">here</a> to receive a notification when we launch our mobile
                        app</p>
                </div>
                <a href="#" class="btn btn-border">Google Play</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}