{% extends "jobs/base.html" %}
{% block ads %}
<script data-ad-client="ca-pub-1810260271665361" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block meta %}{{job.description}} {% endblock %}

{% block ogdesc %}
{{job.description}}
{% endblock %}

{% block ogtitle %}
{{job.title}}| JobsearchKE
{% endblock %}

{% block ogurl %}
https://jobsearchke.com{{job.get_absolute_url}}
{% endblock %}

{% block ogimg %}
<!-- https://jobsearchke.com{{job.company.logo.url}} -->
https://jobsearchke.com{% static 'jobs/img/jobs_2.png' %}
{% endblock %}

{% block title%}{{job.title}}| JobsearchKE {% endblock %}

{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Job Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Job Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="job-detail section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="header-detail">
                    <div class="header-content pull-left">
                        <h3><a href="#">{{job.title}}</a></h3>
                        <p><span>Date Posted: {{job.publish}}</span></p>

                    </div>
                    <div class="detail-company pull-right text-right">
                        <div class="img-thum">
                            <img class="img-responsive" src="{{job.company.logo.url}}" alt="">
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="meta">
                            <span><a class="btn btn-border btn-sm" href="#"><i class="ti-email"></i> Email</a></span>
                            <span><a class="btn btn-border btn-sm" href="#"><i class="ti-info-alt"></i> Job
                                    Aleart</a></span>

                        </div>
                    </div>
                </div>
                <!-- <div class="banner-ad">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    Ad Unit 2
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1810260271665361"
                        data-ad-slot="5136160152" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div> -->
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="content-area">
                    <div class="clearfix">
                        <div class="box">
                            <h4>Job Description</h4>
                            <p>{{job.body|safe}}</p>
                        </div>
                        <!-- <div class="banner-ad">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            Horizontal 5
                            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1810260271665361"
                                data-ad-slot="1533749073" data-ad-format="auto" data-full-width-responsive="true"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div> -->
                        <div class="box">
                            <h4>How To Apply</h4>
                            <p>
                                {{job.apply|safe}}
                            </p>
                            <a href="{{job.job_url}}" class="btn btn-common">Apply for this Job Now</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="banner-ad">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    Horizontal 2
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1810260271665361"
                        data-ad-slot="8827993153" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div> -->
                <h2 class="medium-title">Related Jobs</h2>
                <div class="job-post-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            {% for job in similar_jobs %}
                            <div class="job-list">
                                <div class="thumb">
                                    <a href="{{job.get_absolute_url}}"><img src="{{job.company.logo.url}}" alt=""></a>
                                </div>
                                <div class="job-list-content">
                                    <h4><a href="{{job.get_absolute_url}}">{{job.title}}</a></h4>
                                    <p>{{job.description}}</p>
                                    <div class="job-tag">
                                        <div class="pull-left">
                                            <div class="meta-tag">
                                                <span><a href="#"><i
                                                            class="fas fa-paint-brush"></i>{{job.jobcategory.title}}</a></span>
                                                <span><i class="fas fa-map-marker-alt"></i>Nairobi, Kenya</span>
                                                <span><i
                                                        class="fas fa-calendar-day"></i>{{job.publish|date:"M/d/Y"}}</span>

                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{job.get_absolute_url}}" class="btn btn-common btn-rm">Apply
                                                Job</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <aside>
                    <div class="box">
                        <!-- <h2 class="small-title">Featured Courses</h2> -->
                        <!-- <div class="banner-ad>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            Vertical 2
                            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1810260271665361"
                                data-ad-slot="9012714039" data-ad-format="auto" data-full-width-responsive="true"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div> -->
                    </div>
                    <div class="sidebar">
                        <div class="box">
                            <h2 class="small-title">Job Categoriess</h2>
                            <ul class="detail-list">
                                {% for cat in categories %}
                                <li>
                                    <a href="{%url 'jobs:jobs_by_category' slug=cat.slug %}">{{cat.title}}</a>

                                </li>
                                {% endfor %}

                            </ul>
                        </div>

                        <div class="sidebar-jobs box">
                            <!-- <h2 class="small-title">Advertise With Us</h2> -->
                            <!-- <ul>
                                <script async
                                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                Long 1
                                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1810260271665361"
                                    data-ad-slot="7759627528" data-ad-format="auto"
                                    data-full-width-responsive="true"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </ul> -->

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}