{% extends "jobs/base.html" %}
{% block ads %}
<script data-ad-client="ca-pub-1810260271665361" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block meta %}{{job.description}} {% endblock %}
{% block title%} JobsearchKE | {{job.title}} {% endblock %}

{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Job Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Job Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="job-detail section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="header-detail">
                    <div class="header-content pull-left">
                        <h3><a href="#">{{job.title}}</a></h3>
                        <p><span>Date Posted: {{job.publish}}</span></p>

                    </div>
                    <div class="detail-company pull-right text-right">
                        <div class="img-thum">
                            <img class="img-responsive" src="{{job.image.url}}" alt="">
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="meta">
                            <span><a class="btn btn-border btn-sm" href="#"><i class="ti-email"></i> Email</a></span>
                            <span><a class="btn btn-border btn-sm" href="#"><i class="ti-info-alt"></i> Job
                                    Aleart</a></span>

                        </div>
                    </div>
                </div>
                <div class="banner-ad">
                    <a href="https://clicks.pipaffiliates.com/c?m=6554&c=457535"><img
                            src="https://ads.pipaffiliates.com/i/6554?c=457535" width="728" height="90" /></a>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="content-area">
                    <div class="clearfix">
                        <div class="box">
                            <h4>Job Description</h4>
                            <p>{{job.body|safe}}</p>
                            <a href="{{job.job_url}}" class="btn btn-common">Apply for this Job Now</a>
                        </div>
                    </div>
                </div>
                <div class="banner-ad">
                    <a href="https://clicks.pipaffiliates.com/c?m=35606&c=457535"><img
                            src="https://ads.pipaffiliates.com/i/35606?c=457535" width="728" height="90" /></a>
                </div>
                <h2 class="medium-title">Related Jobs</h2>
                <div class="job-post-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            {% for job in similar_jobs %}
                            <div class="job-list">
                                <div class="thumb">
                                    <a href="{{job.get_absolute_url}}"><img src="{{job.image.url}}" alt=""></a>
                                </div>
                                <div class="job-list-content">
                                    <h4><a href="{{job.get_absolute_url}}">{{job.title}}</a></h4>
                                    <p>{{job.description}}</p>
                                    <div class="job-tag">
                                        <div class="pull-left">
                                            <div class="meta-tag">
                                                <span><a href="#"><i
                                                            class="fas fa-paint-brush"></i>{{job.category}}</a></span>
                                                <span><i class="fas fa-map-marker-alt"></i>Nairobi, Kenya</span>
                                                <span><i
                                                        class="fas fa-calendar-day"></i>{{job.publish|date:"M/d/Y"}}</span>

                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{job.get_absolute_url}}" class="btn btn-common btn-rm">Apply
                                                Job</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <aside>
                    <div class="box">
                        <h2 class="small-title">Featured Book</h2>
                        <div class="text-box">
                            <a href="https://www.amazon.com/gp/product/111951794X/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=quantfx-20&linkId=951ee7301ee468d38574ad16369285fb&language=en_US"
                                target="_blank"><img border="0"
                                    src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=111951794X&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=quantfx-20&language=en_US"></a><img
                                src="https://ir-na.amazon-adsystem.com/e/ir?t=quantfx-20&language=en_US&l=li3&o=1&a=111951794X"
                                width="1" height="1" border="0" alt=""
                                style="border:none !important; margin:0px !important;" />
                        </div>
                    </div>
                    <div class="sidebar">
                        <div class="box">
                            <h2 class="small-title">Job Categoriess</h2>
                            <ul class="detail-list">
                                {% for cat in category %}
                                <li>
                                    <a href="{%url 'jobs:jobs_by_category' query=cat %}">{{cat}}</a>

                                </li>
                                {% endfor %}

                            </ul>
                        </div>

                        <div class="sidebar-jobs box">
                            <h2 class="small-title">Advertise With Us</h2>
                            <ul>

                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}