{% extends "jobs/base.html" %}
{% block content %}
{% include "jobs/head.html" %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Privacy Policy</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Privacy Policy</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="policy section">
    <div class="container">
        <div class="row">
            <div class="post-box">
                <div class="text-box">
                    <h2>Privacy Policy</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit perspiciatis quam at
                        laboriosam labore sunt voluptas deleniti similique voluptates atque commodi, veritatis aut,
                        doloribus minima repudiandae tenetur quasi, accusamus
                        unde!</p>
                    <h4>Personal Identification Information</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi inventore, ipsa enim facilis
                        possimus aliquid aperiam laudantium voluptatum, maxime iure, officia molestiae optio repellat
                        eaque sunt nihil sit. Beatae, dolorum. Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit. Ducimus placeat nesciunt quidem, quod ea!
                        Saepe, mollitia. Alias repellendus pariatur, placeat magni voluptatibus necessitatibus? Fugit,
                        magnam, commodi voluptate deleniti est
                        quibusdam!</p>
                    <h4>Non-Personal Identification Information</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi inventore, ipsa enim facilis
                        possimus aliquid aperiam laudantium voluptatum, maxime iure, officia molestiae optio repellat
                        eaque sunt nihil sit. Beatae, dolorum. Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit. Ducimus placeat nesciunt quidem, quod ea!
                        Saepe, mollitia. Alias repellendus pariatur, placeat magni voluptatibus necessitatibus? Fugit,
                        magnam, commodi voluptate deleniti est
                        quibusdam!</p>
                    <h4>Web Browser Cookies</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi inventore, ipsa enim facilis
                        possimus aliquid aperiam laudantium voluptatum, maxime iure, officia molestiae optio repellat
                        eaque sunt nihil sit. Beatae, dolorum. Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit. Ducimus placeat nesciunt quidem, quod ea!
                        Saepe, mollitia. Alias repellendus pariatur, placeat magni voluptatibus necessitatibus? Fugit,
                        magnam, commodi voluptate deleniti est
                        quibusdam!</p>
                    <h4>How we use collected information</h4>
                    <span>Jobify may collect and use Users personal information for the following purposes:</span>
                    <ul>
                        <li>To improve customer service</li>
                        <li>Information you provide helps us respond to your customer service requests and support needs
                            more efficiently.</li>
                        <li>To personalize user experience</li>
                        <li>We may use information in the aggregate to understand how our Users as a group use the
                            services and resources provided on our Site.</li>
                        <li>To process payments</li>
                        <li>We may use the information Users provide about themselves when placing an order only to
                            provide service to that order. We do not share this information with outside parties except
                            to the extent necessary to provide the service.</li>
                        <li>To run a promotion, contest, survey or other Site feature</li>
                        <li>To send Users information they agreed to receive about topics we think will be of interest
                            to them.</li>
                        <li>To send periodic emails</li>
                        <li>We may use the email address to send them information and updates pertaining to their order.
                            If User decides to opt-in to our mailing list, they will receive emails that may include
                            company news, updates, related product or service
                            information, etc. If at any time the User would like to unsubscribe from receiving future
                            emails, we include detailed unsubscribe instructions at the bottom of each email.</li>
                    </ul>
                    <h4>How we protect your information</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus in nobis, atque cum
                        incidunt accusamus. Itaque aperiam, modi voluptates ipsam ratione minus, illo hic facere atque
                        pariatur debitis consectetur quis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ipsum minima suscipit ea nam,
                        accusantium dignissimos sapiente quas rem, iusto, voluptate mollitia cupiditate quo laudantium
                        quibusdam! Expedita distinctio, provident.
                        Sapiente. accusantium dignissimos sapiente quas rem, iusto, voluptate mollitia cupiditate quo
                        laudantium quibusdam!</p>
                    <h4>Sharing your personal information</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis consectetur nihil natus, rem
                        modi cum. Recusandae eligendi hic repudiandae voluptate ipsum, non repellat quasi. Delectus,
                        nam, quam. Officia, at explicabo?</p>
                    <h4>Third Party Websites</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit molestias officia placeat
                        repellendus, nisi accusantium voluptates distinctio ea qui voluptatum quos porro suscipit amet,
                        unde, maiores saepe, vitae similique
                        earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum pariatur magni ipsam illo
                        amet, temporibus, molestias. Asperiores voluptatum tempora expedita hic rem, eveniet facere
                        cumque reiciendis vel, laboriosam, placeat
                        tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi molestias,
                        ducimus neque placeat facilis! Maiores, dicta mollitia consequuntur neque recusandae culpa
                        aperiam asperiores voluptatibus laborum unde
                        reprehenderit dolore perferendis.</p>
                    <h4>Google Adsense</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut ea laboriosam, consectetur
                        earum aperiam, voluptatibus officiis veritatis modi enim est reprehenderit nihil, omnis magnam.
                        Blanditiis repellat necessitatibus, amet
                        mollitia! privacy policy at http://www.google.com/privacy_ads.html</p>
                    <h4>Changes to this privacy policy</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quod porro provident
                        cupiditate eligendi neque, dolores nostrum optio eius. Repellendus aliquid nemo consequatur
                        maxime facere possimus animi fugit ad laudantium.
                    </p>
                    <h4>Your acceptance of these terms</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit cupiditate, tenetur quaerat natus
                        voluptatum nobis incidunt, architecto officiis omnis reiciendis eveniet, impedit fugiat. Ullam,
                        possimus, eum. Rem enim vero quo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}