{% load crispy_forms_tags %}
<div class="col-md-3 col-sm-12">
    <aside>
        <div class="sidebar">
            <div class="inner-box">
                <a href="https://clicks.pipaffiliates.com/c?m=7808&c=457535"><img
                        src="https://ads.pipaffiliates.com/i/7808?c=457535" width="300" height="250" /></a>
            </div>
            <div class="inner-box">
                <h3>Categories</h3>
                <ul class="cat-list">
                    {% for cat in category %}
                    <li>
                        <a href="{%url 'jobs:jobs_by_category' query=cat %}">{{cat}}<span
                                class="num-posts"></span></span></a>

                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="inner-box">
                <h3 class="block-title">Join the Community</h3>
                <div class="bottom-social-icons social-icon">
                    <a class="twitter" href="https://twitter.com/jobsearchke" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a class="facebook" href="https://bit.ly/2WqTHIZ" target="_blank"><i
                            class="fab fa-facebook"></i></a>
                    <a class="youtube" href="https://t.me/jobsearchKE" target="_blank"><i
                            class="fab fa-telegram"></i></a>
                    <a class="linkedin" href="https://www.linkedin.com/in/jobsearchke-jobs/
                    " target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
                <p>Join our mailing list to stay up to date and get notices about our new job postings!</p>
                <form method="POST" action="{% url 'marketing:subscribe' %}" class="second">
                    {% csrf_token %}
                    {{s_form|crispy}}
                    <input type="submit" class="btn-system" value="Send">
                </form>

            </div>
            <div class="inner-box">
                <h3>Read a Book</h3>
                <ul class="cat-list mt-5">
                    <a href="https://www.amazon.com/SPSS-Statistics-Dummies-Keith-McCormick-ebook/dp/B00TWK3RVI/ref=as_li_ss_il?crid=1E0EM1RSD90R0&dchild=1&keywords=spss&qid=1587880639&s=books&sprefix=SPS,stripbooks-intl-ship,357&sr=1-8&linkCode=li3&tag=quantfx-20&linkId=a6836fea86740b4536b11eced7fd0653&language=en_US"
                        target="_blank"><img border="0"
                            src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00TWK3RVI&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=quantfx-20&language=en_US"></a><img
                        src="https://ir-na.amazon-adsystem.com/e/ir?t=quantfx-20&language=en_US&l=li3&o=1&a=B00TWK3RVI"
                        width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                </ul>
            </div>
        </div>
    </aside>
</div>