{% load crispy_forms_tags %}
<div class="col-md-3 col-sm-12">
    <aside>
        <div class="sidebar">
            <!-- <div class="inner-box">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                Ad Unit 1
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1810260271665361"
                    data-ad-slot="5714744655" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div> -->
            <div class="inner-box">
                <h3>Categories</h3>
                <ul class="cat-list">
                    {% for cat in category %}
                    <li>
                        <a href="{%url 'jobs:jobs_by_category' query=cat %}">{{cat}}<span
                                class="num-posts"></span></span></a>

                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="inner-box">
                <h3 class="block-title">Join the Community</h3>
                <div class="bottom-social-icons social-icon">
                    <a class="twitter" href="https://twitter.com/jobsearchke" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a class="facebook" href="https://bit.ly/2WqTHIZ" target="_blank"><i
                            class="fab fa-facebook"></i></a>
                    <a class="youtube" href="https://t.me/jobsearchKE" target="_blank"><i
                            class="fab fa-telegram"></i></a>
                    <a class="linkedin" href="https://www.linkedin.com/in/jobsearchke-jobs/
                    " target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
                <p>Join our mailing list to stay up to date and get notices about our new job postings!</p>
                <form method="POST" action="{% url 'marketing:subscribe' %}" class="second">
                    {% csrf_token %}
                    {{s_form|crispy}}
                    <input type="submit" class="btn-system" value="Send">
                </form>

            </div>
            <div class="inner-box">
                <!-- <h3>Read a Book</h3> -->
                <!-- <ul class="cat-list mt-5">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    Long 1
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1810260271665361"
                        data-ad-slot="7759627528" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                </ul> -->
            </div>
        </div>
    </aside>
</div>