{% load crispy_forms_tags %}
<div class="col-md-3 col-sm-12">
    <aside>
        <div class="sidebar">

            <div class="inner-box-coffee">
                <style>
                    .bmc-button img {
                        height: 34px !important;
                        width: 35px !important;
                        margin-bottom: 1px !important;
                        box-shadow: none !important;
                        border: none !important;
                        vertical-align: middle !important;
                    }

                    .bmc-button {
                        padding: 7px 15px 7px 10px !important;
                        line-height: 35px !important;
                        height: 51px !important;
                        text-decoration: none !important;
                        display: inline-flex !important;
                        color: #ffffff !important;
                        background-color: #79D6B5 !important;
                        border-radius: 5px !important;
                        border: 1px solid transparent !important;
                        padding: 7px 15px 7px 10px !important;
                        font-size: 22px !important;
                        letter-spacing: 0.6px !important;
                        box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
                        -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                        margin: 0 auto !important;
                        font-family: 'Cookie', cursive !important;
                        -webkit-box-sizing: border-box !important;
                        box-sizing: border-box !important;
                    }

                    .bmc-button:hover,
                    .bmc-button:active,
                    .bmc-button:focus {
                        -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                        text-decoration: none !important;
                        box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                        opacity: 0.85 !important;
                        color: #ffffff !important;
                    }
                </style>
                <link href=" https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button"
                    target="_blank" href="https://www.buymeacoffee.com/jobsearchke"><img
                        src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee"><span
                        style="margin-left:5px;font-size:28px !important;">Buy me a coffee</span></a>
            </div>
            <div class="inner-box">
                <h3>Categories</h3>
                <ul class="cat-list">
                    {% for cat in categories %}
                    <li>
                        <a href="{%url 'jobs:jobs_by_category' slug=cat.slug %}">{{cat.title}}<span
                                class="num-posts"></span></span></a>

                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="inner-box">
                <h3 class="block-title">Join the Community</h3>
                <div class="bottom-social-icons social-icon">
                    <a class="twitter" href="https://twitter.com/jobsearchke" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a class="facebook" href="https://bit.ly/2WqTHIZ" target="_blank"><i
                            class="fab fa-facebook"></i></a>
                    <a class="youtube" href="https://t.me/jobsearchKE" target="_blank"><i
                            class="fab fa-telegram"></i></a>
                    <a class="linkedin" href="https://www.linkedin.com/in/jobsearchke-jobs/
                    " target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
                <p>Join our mailing list to stay up to date and get notices about our new job postings!</p>
                <form method="POST" action="{% url 'marketing:subscribe' %}" class="second">
                    {% csrf_token %}
                    {{s_form|crispy}}
                    <input type="submit" class="btn-system" value="Send">
                </form>

            </div>
            <div class="inner-box">
                <!-- <h3>Read a Book</h3> -->
                <!-- <ul class="cat-list mt-5">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    Long 1
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1810260271665361"
                        data-ad-slot="7759627528" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                </ul> -->
            </div>
        </div>
    </aside>
</div>